/*
|
|
|HOJA DE ESTILOS
|-------------------------------------
|Autor:Ing. Gustavo A Camacho P.
|Correo: Gustavoa.camachop@gmail.com
|-------------------------------------
|
|
 */

/*
|Estilos del login
|------------------
 */

.viewport {

    height: 100vh;
    /*Imagen de fondo*/
    /*background-image: url('../images/aqua-d9b59c89.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: #464650;*/

}

.bg-dark-login {
    background-color: #343a4000 !important;
}

.navbar-dark-login .navbar-nav-login .nav-link-login {

    color: rgb(255, 255, 255);

}

.navbar-expand-lg .navbar-nav-login .nav-link-login {

    padding-right: 0.5rem;
    padding-left: 3rem;

}

.content{

  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;

}

.card-header-login {
    padding: 2.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: none;
    
}

.text-center-login {
    text-align: center !important;
    font-size: 1.5rem;
}

.form-control-login::placeholder {
    color: #6c757d66;
    opacity: 1;
}
.form-control-login::-moz-placeholder {
    color: #6c757d66;
    opacity: 1;
}

.card-login {
  border-radius: 1rem;
  /*Sombra del card*/
  -webkit-box-shadow: 11px 17px 33px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 17px 33px 0px rgba(0,0,0,0.75);
  box-shadow: 11px 17px 33px 0px rgba(0,0,0,0.75);

}


.card-body-login {
   padding: 2.25rem;

}

.form-control-login{
  border-radius: 1.2rem;
}

.btn-login{
  border-radius: 1.2rem;
}

.btn-info-login{
    color: white;
    background-color: #00d1fe;
    border-color: #00d1fe;
}

.btn-info-login:hover {
    color: white;
    background-color: #3948d5;
    border-color: #3948d5;
}

.form-control-sm-login {
    padding: 0.25rem 1.5rem;

}

.fuente{
  font-size: 1rem;
}

.fuente a{
  color: #000205;
  text-decoration: none;
  font-size: 1rem;
}

.container-footer{
  padding-bottom: 0;
}




/*
|Estilos del Registro
|---------------------
 */


.form-control-registro{
  border-radius: 1.2rem;
  margin-bottom: 1rem;
}

.btn-registro{
  border-radius: 1.2rem;
}

.btn-info-registro{
    color: white;
    background-color: #00d1fe;
    border-color: #00d1fe;
}

.btn-info-registro:hover {
    color: white;
    background-color: #00ac2b; 
    border-color: #00ac2b;
}

.card-registro {
  border: none;
  border-radius: 1rem;
  /*Sombra del card*/
  -webkit-box-shadow: 11px 17px 33px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 17px 33px 0px rgba(0,0,0,0.75);
  box-shadow: 11px 17px 33px 0px rgba(0,0,0,0.75);

}

form .border{
  border: 0;
}



/*
|Estilos del dashboard
|---------------------
 */


.fas-estilo{
  font-size: 10rem;
  
}

.fa-file-pdf{
  color:red;
  margin-top: 1rem;
  
}

.fa-file-invoice{
    color: #44a059;
    margin-top: 1rem;
    
}

.fa-file-word{
  color:#fd8f03;
  margin-top: 1rem;
  
}

.mt{
  margin-top: 10%;
}

.card-dashboard{
  border: 0;
  background-color: white;
  font-size: 2rem;

}

.card-dashboard h4{
  
  font-size: 1rem;

}

.bg-light-dashboard{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 20%, rgba(0,212,255,1) 100%);
}

.navbar-light-dashboard .navbar-brand-dashboard {
    color: rgb(255, 255, 255);
}

.navbar-light-dashboard .navbar-brand-dashboard:hover, .navbar-light-dashboard .navbar-brand-dashboard:focus {
    color: rgb(255, 255, 255);
}

.navbar-light-dashboard .navbar-nav-dashboard{
    color: rgb(255, 255, 255);
}

.fa-user-circle-estilo{
  color: white;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.fecha{
  text-align:right;
  font-weight: bold;
}

.list-group-item-estilo{
  position: relative;
display: block;
padding: -0.25rem 1.25rem;
margin-bottom: -1px;
background-color: #fff;

}

.datos-trabajador{
  font-size: 0.8rem;
}

.tabla{
  font-size: 0.8rem;
}

.table-sm th, .table-sm td {
    padding: 0.1rem;
}



.fa-check-circle-ui{
  color: white;
  font-size: 12rem;
}

.card-ui{
  -webkit-box-shadow: 10px 10px 43px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 43px -2px rgba(0,0,0,0.75);
box-shadow: 10px 10px 43px -2px rgba(0,0,0,0.75);
  background-color: green;

}

.card-title-ui{
  font-family: RalewayExtraLight;
    font-style: bold;
  font-weight: 900;
src: url('{{ asset('fonts/RalewayExtraLight.ttf') }}');
}

.btn-text-green{
  color: green;
  border: 0;
}
.btn-lg-ui {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 3rem;
}

.nav-link-estilo a{
    color: white;
}

.card-ui-error{
    border: none;
}

.card-title-ui-error{
    color: red;
}

.btn-text-red{
  color: red;
  border: 0;
}

.btn-text-red:hover{
  color: red;
  border: solid 0.2rem red;
  
}

.icon-user{
  
  font-size: 4rem;
  /*margin-left: 40px;*/
  color: #fff;
  text-shadow: 2px 2px 2px black;
      margin-top: 1.5rem;
}

.total{
  /*margin-top: 25%;*/
  font-size: 4rem;
  color: #03030366;
  margin-top: 1.5rem;
}

.card-title-ui{
  margin-bottom: 0;
  font-size: 0.5rem;
}

.input{
  position: relative;
}

.input-style:focus{
  border: none;
  border-bottom: 1px solid #006ad4;

  box-shadow: none;

}

.input-style{
 
  /* box-shadow: none; */
  
  border: none;
      /* border-bottom-width: medium; */
      /* border-bottom-style: none; */
      /* border-bottom-color: currentcolor; */
      /* border-radius: none; */
  border-bottom: 1px solid #ced4da;
  border-radius: 0;

  margin-bottom: 1rem;
  padding: 0;
  
  
}

.titulolabel{
  margin-bottom: 0;
  color: #000205;
  font-size: 0.9rem;
}

.icon::placeholder{
  color: #6c757d4d;
  opacity: 1;
    
}

.icon{
  font-family: FontAwesome;
  font-weight: normal;
  font-size: 1.2rem;
    
}

select {
 
  background-image: url('https://shop-static.afterbuy.de/images/mobile/btn_arrow_down.png'); /*aquí deberás escribir la ruta de la imagen que utilizarás como flecha del desplegable*/
 
  background-position: right;
  background-repeat: no-repeat;
  
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  opacity: 0.5;

  }

  .imagen{
    /* Location of the image */
    background-image: url(https://www.barraques.cat/pngfile/big/45-450269_1920x1080-minimalism-desktop-background-hd-wallpaper-minimalist-forest.jpg);
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
    
    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;

    /* opacity: 0.5; */
  }



















